* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header,
.pageContent,
#titleImage {
    display: flex;
}

#titleImage {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
}

#titleImage h1 {
    background-color: white;
    padding: 1%;
}

h1 {
    font-family: "Poppins", "sans-serif";
}

header {
    background-color: orange;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: large;
}

nav a {
    margin: 0px 20px;
}

a {
    color: black;
    text-decoration: none;
}

.pageContent {
    flex-direction: column;
    width: 100%;
}

.pageContentSegment {
    padding: 3%;
    min-height: 70vh;
    font-size: 175%;
}

.pageContentSegment h1 {
    margin-bottom: 2%;
}

.graybg {
    background-color: lightgray;
}

.imageRow {
    display: flex;
    margin: 2%;
    justify-content: space-evenly;
}

.imageRow img {
    width: 25%;
    object-fit: cover;
}
