/*oof. after we learned scss earlier, i wish i could rewrite this but it's already done in not scss*/
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

iframe {
    width: 50vw;
    height: 25vw;
}

.starIcon {
    color: red;
    font-size: 4vw;
}

.printerIcon {
    color: black;
    font-size: 3vw;
    border-color: black;
    border: 1px solid;
    border-radius: 100vw;
}

.reviews {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

.pageContent {
    display: flex;
}

.recipeOverview {
    display: flex;
}

.recipeInstructions {
    display: flex;
    justify-content: space-between;
}

.recipeInstructions div {
    width: 40vw;
}

.recipeOverview span {
    padding-left: 2vw;
    padding-right: 2vw;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipeOverview p {
    font-weight: bold;
    display: inline;
}

.recipeHeader {
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recipeHeader button {
    font-size: 2vw;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: 0px solid red;
    border-radius: 15px;
}

.recipeHeader p {
    color: rgb(88, 88, 88);
    font-family: "Poppins" "sans-serif";
    padding: 5vh 10vw;
}

.bold {
    font-weight: bold;
}

.titleImage {
    display: flex;
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
}

.bengal-burgerBackgroundImage {
    background-image: url("../images/bengal-burger.jpg");
}

.titleImage h1 {
    background-color: white;
    padding: 1%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", "sans-serif";
}

header,
footer {
    display: flex;
    background-color: orange;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1vw;
    padding: 1vw;
}

nav a,
footer a {
    margin: 0px 20px;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

.pageContent {
    flex-direction: column;
    width: 100%;
}

.pageContentSegment {
    padding: 3%;
    font-size: 2vw;
}

.pageContentSegment h1, .pageContentSegment h2, .pageContentSegment h3, .pageContentSegment h4 {
    margin-bottom: 2%;
}

ul {
    list-style-position: inside;
    margin-bottom: 5vh;
}

ol li {
    margin-bottom: 4vh;
}

.graybg {
    background-color: lightgray;
}

.thickGrayBorder {
    border: 0.5vw solid lightgray;
}

.whitebg {
    background-color: white;
}

.mediumPadding {
    padding: 1vw;
}

.imageRow img {
    width: 25vw;
    height: 50vh;
    object-fit: cover;
}

.imageRowWith4Images img {
    width: 20vw;
    height: 40vh;
    object-fit: cover;
}

.imageRow p {
    width: 23vw;
}

.imageRowWith4Images p {
    width: 18vw;
}

.imageRow {
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-evenly;
}

.imageRowItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.screenReaderOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}